<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="server=127.0.0.1;uid=root;pwd=123456;database=test" providerName="System.Data.SqlClient" />
	  <add name="FOXMAC-2HM4TLP" connectionString="server=127.0.0.1;uid=root;pwd=Za8gz2fyjGdgEfxh;database=test" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>