<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="server=127.0.0.1;uid=root;pwd=123456;database=test" providerName="System.Data.SqlClient" />
	  <add name="FOXMAC-2HM4TLP" connectionString="server=127.0.0.1;uid=root;pwd=Za8gz2fyjGdgEfxh;database=test" providerName="System.Data.SqlClient" />
	</connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>